.form{
    width:400px;
    height: 400px;
    background: rgb(73, 67, 67);
    display: inline-block;
text-align:center;

}
.text{
    font-size: 25px;
color: white;
text-align: center;
padding-top:15px;
/* padding-bottom: 10px; */
margin-top: 10px;
margin-bottom:1px;
}
.text2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 2px;
}
.form-input{
    width: 300px;
    height: 50px;
    background:rgb(73, 67, 67);
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    text-align: center;


}
.email{
    width: 300px;
    height: 50px;
    background:rgb(73, 67, 67);
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    text-align: center;
  margin-top:20px;
  display: inline;
    
}
.form-input2{
    width: 300px;
    height: 50px;
    background:rgb(73, 67, 67);
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    text-align: center;
    margin-top:20px;
    
    
}
.form-button{
    width: 300px;
    height: 50px;
    background:rgba(0, 255, 0, 0.89);
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    text-align: center;
    margin-top:20px;
    color:white;
}
input::placeholder{
    color:white;
  }
 